<launch>

  <env name = "PYTHONPATH" value="$(env PYTHONPATH)"/>
  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)"/>
  <arg name="launchpad" default="true" />
  <!--japanese character recognition by using sift-->
  <include file="$(find science_agora)/launch/nao_object_learn_using_sift.launch"/>

  <!--main program about nao's movement-->
  <node name="main_program"
        pkg="roseus" type="roseus"
        args="$(find science_agora)/euslisp/karuta_showing_demo.l" 
	respawn="true"/>

  <!--launchpad-->
  <include if = "$(arg launchpad)"
	   file="$(find science_agora)/launch/launchpad_hiragana_sender.launch"/>

   <!--subscribe japanese character topic and collect one character to one word-->
  <node name="nao_speaking"
        pkg="science_agora" type="play_voice_text_subscriber.py"
        args="$(arg nao_ip)"
        respawn="true"/>


  <!--subscribe japanese character topic and collect one character to one word-->
  <node name="oshimai_subscribe"
        pkg="roseus" type="roseus"
        args="$(find science_agora)/euslisp/karuta_showing_demo_sub.l"
	respawn="true"/>

</launch>